*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, red, yellow);
  height: 100vw;
}

/*.container{
  background-color: inherit;
}

.container.reveal{
  background: linear-gradient(to top, red, yellow);
  height: 100vw;
}*/

/*Audio Player*/

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45pt;
  text-align: center;

}

.music-player {
  opacity: 0;
}

.music-player.reveal {
  opacity: 1;
  transition: 2s;

}

.player {
  display: flex;
  justify-content: center;
  /*padding: 5% 0 8% 0;*/
  width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: relative;
	margin: 120px auto 20px;
}

.player:after, .player:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.player:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.player:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;

	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#track-player{
  width: 15vw;
}

/*Search Bar*/

.search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#searchBar {
  width: 99vw;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 25pt;

}

#button {
  background-color: inherit;
  margin-top: 8px;
  width: 10vw;
  font-size: 15pt;
  font-family: 'Lobster', cursive;
  border: 1px solid black;
}

/*Search Results Section*/

#tracks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  width: 90vw;
}

.track-img-title-band {
  width: 15vw;
  text-align: center;
  /*margin: auto;*/
}

.track-img {
  width: 14vw;
  border-radius: 50%;

}

#listen {
  width: 14vw;
  background-color: inherit;
  border: 1px solid black;
  font-family: 'Lobster', cursive;
}

#bands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  width: 90vw;
}


.band-img {
  width: 15vw;
  text-align: center;
  margin-bottom: 8vw;
}

.band-img a{
  text-decoration: none;
}

.artist-img {
  width: 14vw;
  border-radius: 50%;

}
